<!-- 328/diner/views/summary.html -->

<include href="views/header.html" />

<body>
<div class="container">
    <h1>Members</h1>

    <table id="tblMembers">
        <thead>
        <tr>
            <td>MemberID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Age</td>
            <td>Gender</td>
            <td>Phone</td>
            <td>Email</td>
            <td>State</td>
            <td>Seeking</td>
            <td>Bio</td>
            <td>Premium</td>
            <td>Interests</td>
            <td>Date Created</td>
        </tr>
        </thead>
        <tbody>
        <repeat group="{{ @members }}" value="{{ @member }}">
            <tr>
                <td>{{ @member['member_id'] }}</td>
                <td>{{ @member['fname'] }}</td>
                <td>{{ @member['lname'] }}</td>
                <td>{{ @member['age'] }}</td>
                <td>{{ @member['gender'] }}</td>
                <td>{{ @member['phone'] }}</td>
                <td>{{ @member['email'] }}</td>
                <td>{{ @member['state'] }}</td>
                <td>{{ @member['seeking'] }}</td>
                <td>{{ @member['bio'] }}</td>
                <check if="{{ @member['premium'] }} == 1" >
                    <true>

                        <td> <input type="checkbox" checked></td>
                    </true>
                    <false>
                        <td><input type="checkbox"></td>
                    </false>

                </check>
                <td>{{ @member['interests'] }}</td>
                <td>{{ date('m-d-y', strtotime(@member['creation_date'])) }}</td>
            </tr>
        </repeat>
        </tbody>
    </table>
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $("#tblMembers").DataTable(
        {
            "ordering" : false,
            responsive: true
        }
    );
</script>
</body>
</html>