<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin Login</title>
</head>
<body>
<h1>Advise-It Admin Login</h1>

<!--<p>ID: {{@SESSION.retrievedPlan[0]['user_id']}}</p>-->
<!--<p>Last Updated: {{@SESSION.lastUpdated}}</p>-->


<form action="#" method="post" >

  <label for="username">Username</label>
  <input type="text" id="username" name="username">Enter Username</input>

  <label for="password">Password</label>
  <input type="text" id="password" name="password">Enter Password</input>

  <button type="submit">Login</button>
</form>

</body>
</html>