<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blank Plan</title>
</head>
<body>
<h1>Advise-It Blank Plan</h1>

<p>ID: {{@SESSION.newSixDigits}}</p>

<form action="" method="post">

  <label for="fallClasses">Fall Quarter 2022</label>
  <textarea id="fallClasses" name="fallClasses" rows="5" cols="33">
  Input classes here. . .
  </textarea>

  <label for="winterClasses">Winter Quarter 2022</label>
  <textarea id="winterClasses" name="winterClasses" rows="5" cols="33">
  Input classes here. . .
  </textarea>

  <label for="springClasses">Spring Quarter 2023</label>
  <textarea id="springClasses" name="springClasses" rows="5" cols="33">
  Input classes here. . .
  </textarea>

  <label for="summerClasses">Summer Quarter 2023</label>
  <textarea id="summerClasses" name="summerClasses" rows="5" cols="33">
  Input classes here. . .
  </textarea>

  <button type="submit">Save Plan</button>
</form>

</body>
</html>