<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>The Coffee Connection</title>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="{{@BASE}}">The Coffee Connection</a>
    <a class type="submit"  href="admin">Admin</a>
</nav>