<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>The Coffee Connection</title>
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">The Coffee Connection</span>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">The Coffee Connection</h1>
                <p class="text-center">Welcome to the <em>only</em> dating website that will
                match you based on your coffee preferences. Gone are the
                days when you find yourself in that awkward position of
                discovering your date hates coffee. Here at The Coffee Connection,
                we only serve clients with  deep appreciation for java!</p>
                <h2 class="text-center">Testimonials</h2>
                <div id="userQuotes" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <blockquote class="blockquote text-center">
                                <p class="mb-0">I was tired of meeting people who don't love coffee.
                                I know every person I meet from The Coffee Connection shares my passion!</p>
                                <footer class="blockquote-footer">Rachel</footer>
                            </blockquote>
                        </div>
                        <div class="carousel-item">
                            <blockquote class="blockquote text-center">
                                <p class="mb-0">I'm a smokey dark roast who matched with a chocolatey roast with
                                notes of blueberry. I've never been happier!</p>
                                <footer class="blockquote-footer">Lance</footer>
                            </blockquote>
                        </div>
                        <div class="carousel-item">
                            <blockquote class="blockquote text-center">
                                <p class="mb-0">Wait... where's the tea?</p>
                                <footer class="blockquote-footer">Some loser</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="images/couple.jpg" class="img-fluid rounded float-right" alt="A couple enjoying coffee">
            </div>
        </div>

    </div>
</div>
<div class="container-fluid">

</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>