<include href="views/header.html"></include>

<div class="container border mt-3">
    <h2>Personal Information</h2>
    <hr>
    <form action="#" method="post">
        <div class="row">
        <div class="col-8">
        <div class="form-group">
            <label for="inputFName">First Name</label>
            <input type="text" class="form-control" id="inputFName" name="fName" aria-describedby="firstName" value="{{@fName}}">
            <!-- Display an error if there is one -->
            <check if="{{ isset(@errors['fName']) }}">
                <span class="err">{{ @errors['fName'] }}</span>
            </check>
        </div>
        <div class="form-group">
            <label for="inputLName">Last Name</label>
            <input type="text" class="form-control" id="inputLName" name="lName" aria-describedby="lastName" value="{{@lName}}">
            <!-- Display an error if there is one -->
            <check if="{{ isset(@errors['lName']) }}">
                <span class="err">{{ @errors['lName'] }}</span>
            </check>
        </div>
        <div class="form-group">
            <label for="inputAge">Age</label>
            <input type="text" class="form-control" id="inputAge" name="age" aria-describedby="age" value="{{@age}}">
            <!-- Display an error if there is one -->
            <check if="{{ isset(@errors['age']) }}">
                <span class="err">{{ @errors['age'] }}</span>
            </check>
        </div>
        <label>Gender</label><br>
        <div class="form-check form-check-inline">
            <repeat group="{{@genders}}" value="{{@gender}}">
                <input class="form-check-input" type="radio" name="gender" value="{{@gender}}"
                <check if="{{@gender==@userGender}}">checked</check>
                <label class="form-check-label">{{ucfirst(@gender)}} &nbsp</label>
            </repeat>
        </div>
            <!-- Display an error if there is one -->
            <!--<check if="{{ isset(@errors['gender']) }}">
                <span class="err">{{ @errors['gender'] }}</span>
            </check>-->
        <div class="form-group">
            <label for="inputPhone">Phone Number</label>
            <input type="text" class="form-control" id="inputPhone" name="phone" aria-describedby="phone number">
            <!-- Display an error if there is one -->
            <check if="{{ isset(@errors['phone']) }}">
                <span class="err">{{ @errors['phone'] }}</span>
            </check>
        </div>
        <div>
            <label>Premium Membership</label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="premiumAccount" name="premiumAccount" value="premiumAccount">
            <label for="premiumAccount"> Sign me up for a Premium Account!</label>
        </div>
        </div>
        <div class="col-4">
        <div class="card text-dark bg-light mt-3">
            <p><b>Note:</b> All information is protected by our privacy policy. Profile information
                can only be viewed by others with your permission.</p>
        </div>

    </div>


        </div>
        <div class="text-right">
        <button type="submit" class="btn btn-primary align-content-end" href="profile">Next ></button>
    </div>
    </form>


    </div>



</body>
</html>