<include href="views/header.html"></include>
<div class="container border mt-3">
    <div class="row">
        <div class="col-6 border mt-3 ml-3 mb-3">
            <p class="border mt-3 mb-0">Name: {{@SESSION.member->getFname()}} {{@SESSION.member->getLname()}}</p>
            <p class="border mb-0">Gender: {{@SESSION.member->getGender()}}</p>
            <p class="border mb-0">Age: {{@SESSION.member->getAge()}}</p>
            <p class="border mb-0">Phone: {{@SESSION.member->getPhone()}}</p>
            <p class="border mb-0">Email: {{@SESSION.member->getEmail()}}</p>
            <p class="border mb-0">State: {{@SESSION.member->getState()}}</p>
            <p class="border mb-0">Seeking: {{@SESSION.member->getSeeking()}}</p>
            <check if="{{ @accountPremium }}" >
                <true>
                    <p class="border">Interests: {{@SESSION.member->getInDoorInterests()}} {{@SESSION.member->getOutDoorInterests()}}</p>
                </true>
            </check>
        </div>
        <div class="card col-5">
            <img class="card-img-top" src="images/placeholder.jpg" alt="Profile Picture">
            <div class="card-body">
                <p>Biography</p>
                <p>{{@SESSION.member->getBio()}}</p>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <button type="submit" class="btn btn-primary align-content-center" href="profile">Contact Me!</button>
    </div>

</div>

</body>
</html>